"*":
  "atom-beautify":
    general:
      _analyticsUserId: "379b1422-5be6-4ed1-a071-e7517fe3bc4e"
  "bracket-colorizer": {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    disabledPackages: [
      "language-gfm"
      "trailing-spaces"
      "wrap-guide"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 21
    lineHeight: 1.2
  emmet: {}
  "exception-reporting":
    userId: "d083badf-4efd-4e9d-b292-11772bd96e96"
  "linter-eslint":
    autofix:
      fixOnSave: true
      ignoreFixableRulesWhileTyping: true
    global: {}
  "linter-ui-default":
    panelHeight: 599
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "remote-ftp":
    connector: {}
    notifications:
      enableTransfer: true
      enableWatchFileChange: true
    statusbar:
      enable: true
      position: "right"
  "sync-settings":
    _lastBackupHash: "a3d3e978aee0e2ce865aae64f6ba7efe16687141"
    gistId: "34d1e277778998425c89dd3ddf20f9e6"
    personalAccessToken: "3ce5d2375d332f5d35787b3c4bd2a6440a38f421"
