"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "atom-beautify":
    general:
      _analyticsUserId: "379b1422-5be6-4ed1-a071-e7517fe3bc4e"
  "bracket-colorizer": {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "language-gfm"
      "trailing-spaces"
      "wrap-guide"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 21
    lineHeight: 1.2
  emmet: {}
  "exception-reporting":
    userId: "d083badf-4efd-4e9d-b292-11772bd96e96"
  fonts:
    fontFamily: "iA Writer Mono S"
  "git-blame":
    columnWidth: 184
  "linter-eslint":
    autofix:
      fixOnSave: true
      ignoreFixableRulesWhileTyping: true
    global: {}
  "linter-ui-default":
    panelHeight: 599
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "remote-ftp":
    connector: {}
    notifications:
      enableTransfer: true
      enableWatchFileChange: true
    statusbar:
      enable: true
      position: "right"
  "sync-settings":
    _lastBackupHash: "a3d3e978aee0e2ce865aae64f6ba7efe16687141"
    gistId: "eb9e993e5216222949fafc27e75b715e"
    personalAccessToken: "3ce5d2375d332f5d35787b3c4bd2a6440a38f421"
  welcome:
    showOnStartup: false
