
// style UI elements inside atom-text-editor
atom-text-editor {
  // .gutter {
  //   color: #ffffff;
  // }

  .cursor {
    border-color: yellow;
  }
}

.atom-text-editor .gutter, atom-text-editor .gutter {
  // background-color: #00001A;
}

// style the background color of the tree view
.tree-view {
  font-size: 17px;
}

// TREE VIEW & STATUS FONT

.tree-view, .tree-view-root,
atom-panel-container.footer {
  font-family: 'iA Writer Mono S', monospace;
}

.status-bar {
  font-size: 20px;
}

.editor {
  line-height: 1em;
  // background-color: #00001A;
}

atom-text-editor.editor {
  .bracket-colorizer-color0,
  .bracket-colorizer-color2,
  .bracket-colorizer-color4,
  .bracket-colorizer-color6,
  .bracket-colorizer-color8,
  .bracket-colorizer-color10 {
    color: #e0fde0; // default color
  }

  .bracket-colorizer-color1,
  .bracket-colorizer-color3,
  .bracket-colorizer-color5,
  .bracket-colorizer-color7,
  .bracket-colorizer-color9 {
    color: #87CEFA
  }
}


// LINE NUMBERS

atom-text-editor .line-number {
  color: #e0fde0;
  opacity: 0.8;
}


// BRACKET MATHING LINE NUMBER

.line-number.bracket-matcher.bracket-matcher {
  background-color: #000000;
  color: #33FF00; //  hacking green;
}
