
atom-text-editor {
  .cursor {
    border-color: #33FF00;
  }
}


.tree-view, .tree-view-root,
atom-panel-container.footer {
  font-family: 'iA Writer Mono S', monospace;
}

.tree-view {
  font-size: 17px;
}

.editor {
  line-height: 1em;
  letter-spacing: -1px;
}

.status-bar {
  font-size: 20px;
}

atom-text-editor.editor {
  .bracket-colorizer-color0,
  .bracket-colorizer-color2,
  .bracket-colorizer-color4,
  .bracket-colorizer-color6,
  .bracket-colorizer-color8,
  .bracket-colorizer-color10 {
    color: #e0fde0; // default color
  }

  .bracket-colorizer-color1,
  .bracket-colorizer-color3,
  .bracket-colorizer-color5,
  .bracket-colorizer-color7,
  .bracket-colorizer-color9 {
    color: #87CEFA
  }
}

atom-text-editor .line-number {
  color: #e0fde0;
  opacity: 0.8;
}

.line-number.bracket-matcher.bracket-matcher {
  background-color: #000000;
  color: #33FF00;
}
